#checkout {
  margin-top: 5em;
}
button {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#checkout .container i.fa,
button i.fa {
  margin: 0 5px;
}
.clickable {
  cursor: pointer;
}
p.lead {
  font-weight: 300;
}

#checkout .box {
  background: #fff;
  margin: -20px 0 30px;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
#checkout .box .box-header {
  background: #000000;
  margin: -20px -20px 20px;
  padding: 10px;
  border-bottom: solid 1px #eeeeee;
  color: #fff;
  text-align: center;
}
#checkout .box .box-header:before,
#checkout .box .box-header:after {
  content: " ";
  display: table;
}
#checkout .box .box-header:after {
  clear: both;
}
#checkout .box .box-footer {
  background: #f7f7f7;
  margin: 30px -20px -20px;
  padding: 20px;
  border-top: solid 1px #eeeeee;
}
#checkout .box .box-footer:before,
#checkout .box .box-footer:after {
  content: " ";
  display: table;
}
#checkout .box .box-footer:after {
  clear: both;
}

#checkout .content {
  margin: 20px;
}

@media (max-width: 991px) {
  #checkout .box .box-footer .btn {
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  #checkout .info-bar .products-showing {
    text-align: center;
  }
}
@media (max-width: 991px) {
  #checkout .info-bar .products-number-sort {
    text-align: center;
    margin-top: 10px;
  }
}
@media (max-width: 991px) {
  #checkout .info-bar .products-sort-by {
    margin: 10px 0 0;
  }
  #checkout .info-bar .products-sort-by select {
    margin: 0;
  }
}
@media (max-width: 991px) {
  #checkout #details .social {
    text-align: center;
  }
}
#checkout #thumbs a {
  display: block;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border: solid 2px transparent;
}
#checkout #thumbs a.active {
  border-color: #2fdab8;
}
#checkout #checkout .nav {
  margin-bottom: 50px;
  border-bottom: solid 1px #2fdab8;
}
#checkout #checkout .nav li {
  height: 100%;
}
#checkout #checkout .nav li a {
  display: block;
  height: 100%;
}
#checkout #order-summary table {
  margin-top: 20px;
}
#checkout #order-summary table td {
  color: #999999;
}
#checkout #order-summary table tr.total td,
#checkout #order-summary table tr.total th {
  font-size: 18px;
  color: #555555;
  font-weight: 700;
}
#checkout #checkout .table tbody tr td,
#checkout #basket .table tbody tr td,
#checkout #customer-order .table tbody tr td {
  vertical-align: middle;
}
#checkout #checkout .table tbody tr td input,
#checkout #basket .table tbody tr td input,
#checkout #customer-order .table tbody tr td input {
  width: 50px;
  text-align: right;
}
#checkout #checkout .table tbody tr td img,
#checkout #basket .table tbody tr td img,
#checkout #customer-order .table tbody tr td img {
  width: 50px;--
}
#checkout #checkout .table tfoot,
#checkout #basket .table tfoot,
#checkout #customer-order .table tfoot {
  font-size: 18px;
}

/* nav */
#checkout .nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid #2fdab8
}
#checkout .nav > li > a {
  padding: 10px 15px;
}
#checkout .nav > li > a:hover,
#checkout .nav > li > a:focus {
  background-color: #eeeeee;
}
#checkout .nav > li.disabled > a {
  color: #ffffff;
  background-color: #2fdab8;
  border-top: 5px solid #2fdab8;
  font-size: 1.2em;
  padding: 0.7em 0.5em;
}
#checkout .nav > li.disabled > a:hover,
#checkout .nav > li.disabled > a:focus {
  color: #999999;
  border-top: 5px solid #fff;
  background-color: #fff;
}
#checkout .nav > li.visited > a {
  color: #ffffff;
  background-color: #2fdab8;
  border-top: 5px solid #2fdab8;
  font-size: 1.2em;
  padding: 0.7em 0.5em;
}
#checkout .nav > li.visited > a:hover,
#checkout .nav > li.visited > a:focus {
  color: #999999;
}
#checkout .nav .open > a,
#checkout .nav .open > a:hover,
#checkout .nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #2fdab8;
}
#checkout .nav-tabs {
  border-bottom: 1px solid #dddddd;
}
#checkout .nav-tabs > li > a {
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
}
#checkout .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
#checkout .nav-tabs > li.active > a,
#checkout .nav-tabs > li.active > a:hover,
#checkout .nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #f0f0f0;
  border: 1px solid #dddddd;
}
#checkout .nav-pills > li > a {
  border-radius: 0;
}
#checkout .nav-pills > li.active > a,
#checkout .nav-pills > li.active > a:hover,
#checkout .nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #000000;
  border-top: 5px solid #000000;
  font-size: 1.2em;
  padding: 0.7em 0.5em;
}
#checkout .nav-tabs-justified > li > a {
  border-radius: 4px;
}
#checkout .nav-tabs-justified > .active > a,
#checkout .nav-tabs-justified > .active > a:hover,
#checkout .nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  #checkout .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  #checkout .nav-tabs-justified > .active > a,
  #checkout .nav-tabs-justified > .active > a:hover,
  #checkout .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #f0f0f0;
  }
}

/* buttons  */
.btn {  
  padding: 6px 5px;
  padding-left: 4px;
  font-size: 1em;
  line-height: 1.42857143;
  border-radius: 3px;
}
.btn-default {
  color: #fff;
  background-color: #000000;
}
.btn-primary {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle1.btn-primary {
  color: #ffffff;
  background-color: #3da892;
  border-color: #318675;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle11.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2fdab8;
  border-color: #2fdab8;
}
.btn-primary .badge {
  color: #2fdab8;
  background-color: #ffffff;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 4px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* forms.less */
label1 {
  font-weight: normal;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  color: #000;
}
.form-control1 {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-group {
  margin-bottom: 20px;
}

/* responsive utilities */
@media (max-width: 767px) {
  .text-center-xs {
    text-align: center !important;
  }
  .text-center-xs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-center-sm {
    text-align: center !important;
  }
  .text-center-sm img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* type */
ul,
ol {
  margin: 0 0 20px;
}

.text-small {
  font-size: 12px;
}
.text-large {
  font-size: 18px;
}
.text-italic {
  font-style: italic;
}
.text-primary {
  color: #2fdab8;
}
a.text-primary:hover {
  color: #3aa18c;
}
.bg-primary {
  color: #fff;
  background-color: #2fdab8;
}
a.bg-primary:hover {
  background-color: #3aa18c;
}

/*shopping Cart Page*/
.sc-product-image {
  float: left;
  width: 20%;
}

.sc-product-details {
  float: left;
  width: 37%;
}

.sc-product-price {
  float: left;
  width: 12%;
}

.sc-product-quantity {
  float: left;
  width: 10%;
}

.sc-product-removal {
  float: left;
  width: 9%;
}

.sc-product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart-page:before, .column-labels:before, .sc-product:before, .totals-item:before,
.group:after,
.shopping-cart-page:after,
.column-labels:after,
.sc-product:after,
.totals-item:after {
  content: '';
  display: table;
}

.group:after, .shopping-cart-page:after, .column-labels:after, .sc-product:after, .totals-item:after {
  clear: both;
}

.group, .shopping-cart-page, .column-labels, .sc-product, .totals-item {
  zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.sc-product .sc-product-price:before, .sc-product .sc-product-line-price:before, .totals-value:before {
  content: '$';
}

.shopping-cart-page {
  margin: 2em 2em 0em 2em;
  padding: 2em 2em 2em 2em;
}

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.column-labels .sc-product-image, .column-labels .sc-product-details, .column-labels .sc-product-removal {
  text-indent: -9999px;
}

/* Product entries */
.sc-product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.sc-product .sc-product-image {
  text-align: center;
}
.sc-product .sc-product-image img {
  width: 100px;
}
.sc-product .sc-product-details .sc-product-title {
  margin-right: 20px;
}
.sc-product .sc-product-details .sc-product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}
.sc-product .sc-product-quantity input {
  width: 40px;
}
.sc-product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #2fdab8;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
}
.sc-product .remove-product:hover {
  background-color: #000;
}

/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}
.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart-page {
  margin: 0;
  padding-top: 20px;
  border-top: 1px solid #eee;
  }

  .column-labels {
  display: none;
  }

  .sc-product-image {
  float: right;
  width: auto;
  }
  .sc-product-image img {
  margin: 0 0 10px 10px;
  }

  .sc-product-details {
  float: none;
  margin-bottom: 10px;
  width: auto;
  }

  .sc-product-price {
  clear: both;
  width: 70px;
  }

  .sc-product-quantity {
  width: 100px;
  }
  .sc-product-quantity input {
  margin-left: 20px;
  }

  .sc-product-quantity:before {
  content: 'x';
  }

  .sc-product-removal {
  width: auto;
  }

  .sc-product-line-price {
  float: right;
  width: 70px;
  }
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .sc-product-removal {
  float: right;
  }

  .sc-product-line-price {
  float: right;
  clear: left;
  width: auto;
  margin-top: 10px;
  }

  .sc-product .sc-product-line-price:before {
  content: 'Item Total: $';
  }

  .totals .totals-item label {
  width: 60%;
  }
  .totals .totals-item .totals-value {
  width: 40%;
  }
} 

.form1 {
  height: 5em;
  background: #eee;
  margin-bottom: 2em;
}
.form1 .pull-left {
  margin-left: 15em;
  padding-top: 1.5em;
}
.form1 .pull-right {
  margin-right: 15em;
  padding-top: 1.5em;
}
.form1 .btn {  
  padding: 6px 10px;
  padding-left: 8px;
  font-size: 1em;
  line-height: 1.42857143;
  border-radius: 3px;
}
.form1 .btn-default {
  color: #fff;
  background-color: #000000;
}
.form1 .btn-primary {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.form1 .btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle1.btn-primary {
  color: #ffffff;
  background-color: #3da892;
  border-color: #318675;
}
.form1 .btn-primary:active,
.btn-primary.active {
  background-image: none;
}



#customer .panel {
  margin-top: 2em;
}
#customer .panel.sidebar-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
#customer .panel.sidebar-menu .panel-heading .btn.btn-danger {
  color: #fff;
}
#customer .panel.sidebar-menu .panel-body span.colour {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: solid 1px #555555;
  vertical-align: top;
  margin-top: 2px;
  margin-left: 5px;
}
#customer .panel.sidebar-menu .panel-body span.colour.white {
  background: #fff;
}
#customer .panel.sidebar-menu .panel-body label {
  color: #999999;
  font-size: 12px;
}
#customer .panel.sidebar-menu .panel-body label:hover {
  color: #555555;
}
#customer .panel.sidebar-menu h3 {
  padding: 5px 0;
  margin: 0;
}
#customer .panel.sidebar-menu ul.nav.category-menu {
  margin-bottom: 20px;
}
#customer .panel.sidebar-menu ul.nav.category-menu li a {
  text-transform: uppercase;
  font-weight: bold;
}
#customer .panel.sidebar-menu ul.nav ul {
  list-style: none;
  padding-left: 0;
}
#customer .panel.sidebar-menu ul.nav ul li {
  display: block;
}
#customer .panel.sidebar-menu ul.nav ul li a {
  position: relative;
  font-weight: normal;
  text-transform: none !important;
  display: block;
  padding: 10px 15px;
  padding-left: 30px;
  font-size: 12px;
}
#customer .panel.sidebar-menu ul.nav ul li a:hover,
#customer .panel.sidebar-menu ul.nav ul li a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
#customer .info-bar {
  line-height: 32px;
  vertical-align: middle;
}
@media (max-width: 991px) {
  #customer .info-bar .products-showing {
    text-align: center;
  }
}+
@media (max-width: 991px) {
  #customer .info-bar .products-number-sort {
    text-align: center;
    margin-top: 10px;
  }
}
#customer .info-bar .products-number strong {
  margin-right: 10px;
}
#customer .info-bar .products-sort-by select {
  margin-left: 10px;
}
@media (max-width: 991px) {
  #customer .info-bar .products-sort-by {
    margin: 10px 0 0;
  }
  #customer .info-bar .products-sort-by select {
    margin: 0;
  }
}

#customer .box {
  background: #fff;
  margin: 35px 0 30px;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
#customer .box .box-header {
  background: #f7f7f7;
  margin: -20px -20px 20px;
  padding: 20px;
  border-bottom: solid 1px #eeeeee;
}
#customer .box .box-header:before,
#customer .box .box-header:after {
  content: " ";
  display: table;
}
#customer .box .box-header:after {
  clear: both;
}

#customer #customer-orders table tr th,
#customer #customer-orders table tr td {
  vertical-align: baseline;
}
#customer #customer-order .table tfoot th {
  font-size: 18px;
  font-weight: 300;
}
#customer #customer-order .table > tbody > tr > th {
  border-top: 1px solid #ddd;
}
#customer #customer-order .addresses {
  text-align: right;
}
#customer #customer-order .addresses p {
  font-size: 18px;
  font-weight: 300;
}
#customer .nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
#customer .nav > li > a {
  padding: 10px 15px;
}
#customer .nav > li > a:hover,
#customer .nav > li > a:focus {
  background-color: #eeeeee;
}
#customer .nav > li.disabled > a {
  color: #999999;
}
#customer .nav > li.disabled > a:hover,
#customer .nav > li.disabled > a:focus {
  color: #999999;
}
#customer .nav .open > a,
#customer .nav .open > a:hover,
#customer .nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #2fdab8;
}
#customer .nav-tabs {
  border-bottom: 1px solid #dddddd;
}
#customer .nav-tabs > li > a {
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
}
#customer .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
#customer .nav-tabs > li.active > a,
#customer .nav-tabs > li.active > a:hover,
#customer .nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #f0f0f0;
  border: 1px solid #dddddd;
}
#customer .nav-pills > li > a {
  border-radius: 0;
  color: #2fdab8;
}
#customer .nav-pills > li.active > a,
#customer .nav-pills > li.active > a:hover,
#customer .nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #2fdab8;
}
#customer .nav-tabs-justified > li > a {
  border-radius: 4px;
}
#customer .nav-tabs-justified > .active > a,
#customer .nav-tabs-justified > .active > a:hover,
#customer .nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  #customer .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  #customer .nav-tabs-justified > .active > a,
  #customer .nav-tabs-justified > .active > a:hover,
  #customer .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #f0f0f0;
  }
}

/*Customer_order page*/
.table-responsive img {
  width: 70px;
  height: 70px;
}

.ca-form-controls {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#customer label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 200;
  text-transform: none;
  font-size: 1em;
  color: #000;
}


#seller {
  width: 100%;
}
#seller h4 {
  font-size: 3em;
  display: inline;
  font-weight: 200;
}
#seller img {
  width: 200px;
  height: 200px;
  margin-left: 2em;
}
#seller p {
  font-size: 1em;
}







